<ion-view title="Add Track" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="addTrack-form2" class="list">
      <label class="item item-input" id="addTrack-input6">
        <span class="input-label">Name</span>
        <input type="text" data-ng-model="form.name" placeholder="">
      </label>
      <label class="item item-input" id="addTrack-input3">
        <span class="input-label">Track No</span>
        <input type="text" data-ng-model="form.trackNo" placeholder="">
      </label>
      <label class="item item-input" id="addTrack-input4">
        <span class="input-label">Remark</span>
        <input type="text" data-ng-model="form.trackRemark" placeholder="">
      </label>
    </form>
    <form id="addTrack-form6" class="list" ng-controller="couriercontroller">
      <label class="item item-select" id="addTrack-select2">
        <span class="input-label">Services</span>        
          <select ng-repeat="courier in couriers" data-ng-model="form.courier">   
              <option value="{{courier.Id}}">{{courier.CompanyName}}</option>
          </select>
      </label>
      <label class="item item-select" id="addTrack-select3">
        <span class="input-label">Category</span>
          <select ng-repeat="folder in folders" data-ng-model="form.folder">
              <option value="{{folder.Id}}">{{folder.Name}}</option>
          </select>
      </label>
      <button id="addTrack-button1" class="button button-positive  button-block" type="submit" data-ng-click="create(form)">Add Tracking</button>
    </form>    
  </ion-content>
</ion-view>