<ion-view title="Edit Track" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="editTrack-form9" class="list">
      <label class="item item-input" id="editTrack-input7">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editTrack-input8">
        <span class="input-label">Track No</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editTrack-input9">
        <span class="input-label">Remark</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="editTrack-form10" class="list">
      <label class="item item-select" id="editTrack-select4">
        <span class="input-label">Services</span>
        <select>
          <option>DHL</option>
          <option>Pos Laju</option>
        </select>
      </label>
      <label class="item item-select" id="editTrack-select5">
        <span class="input-label">Category</span>
        <select>
          <option>All</option>
        </select>
      </label>
    </form>
    <button id="editTrack-button2" class="button button-positive  button-block">Save Tracking</button>
  </ion-content>
</ion-view>