<style>
    .myFirstClass:first-of-type {
  background-color:#00FFFF !important;
}
</style>
<ion-view title="Track Detail" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
        <h5 id="trackDetail-heading2" style="color:#000000;font-size:20px;">Tracking History</h5>
        <!--<h5 id="trackDetail-heading3" style="color: #000000; font-: 400;">Track No: </h5>
        <h5 id="trackDetail-heading4" style="color: #000000; font-weight: 400;">Remark: </h5>-->
        <div id="trackDetail-container4" class="creator-container" ng-controller="trackDetailCtrl"></div>
        <ion-list class="trackDetail-list4" ng-repeat="item in form | orderBy: '-TrackDate'">
            <ion-item class="trackDetail-list-item23" ng-class='rowClass($index)'>
                <p>Your item has arrived at {{item.TrackLocation}}</p>
                <p>Your current tracking code is {{item.TrackCode}}</p>
                <p>{{item.TrackDescription}}</p>
                <br />
                <span style="font-size:12px;">{{item.TrackDate| date:'medium'}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>