<ion-view title="Track Detail" id="page2">
  <ion-content padding="true" class="has-header">
    <h5 id="trackDetail-heading2" style="color:#000000;">Name</h5>
    <h5 id="trackDetail-heading3" style="color:#000000;font-weight:400;">Track No</h5>
    <h5 id="trackDetail-heading4" style="color:#000000;font-weight:400;">Remark</h5>
    <div id="trackDetail-container4" class="creator-container"></div>
    <ion-list id="trackDetail-list4">
      <ion-item id="trackDetail-list-item21">Item 1</ion-item>
      <ion-item id="trackDetail-list-item22">Item 2</ion-item>
      <ion-item id="trackDetail-list-item23">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>